.col-event-list{
    background-color: rgba(136, 0, 0, 0.695); 
}

.characters-event-list{
    background-color: rgba(136, 0, 0, 0.300); 
}

.name-events-list{
    background-color: rgba(136, 0, 0, 0.900); 
}