.events-container{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start end;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(144deg, rgba(183, 18, 18, 0.402) 0%, rgba(118, 9, 9, 0.43) 32%, rgba(116, 7, 7, 0.324) 98%);
    padding: 0;
    overflow: hidden;
}

.row-events-div-mainpage{
   
}


.col-events-mainpage{
    
    
    
    
    
    
}
.col-events-div-mainpage{
    
    backdrop-filter:   contrast(400%)  brightness(20%); 
    
}






@media only screen and (min-width: 1360px) {
    .col-events-mainpage{
        max-height: 440px;
    }
    
}