.characters-container{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start end;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(144deg, rgba(16, 95, 222, 0.639) 0%, rgba(22, 73, 136, 0.5) 40%, rgba(1, 19, 42, 0.5) 98%);
    padding: 0;
    

}






@media only screen and (max-width: 576px) {
    
}

@media only screen and (max-width: 900px) {
    
}