.container-charcaters-list{
    
    color: var(--text-dark-color);
    width: 100vw;
    
}

.abc-form{
    color: var(--text-dark-color);
    display: flex;
    justify-content: end;
    margin-left: 60px !important;
}

.abc-form .inputLabel{
    color: var(--text-dark-color) !important;
    margin-left: 60px !important;
    font-weight: 600;
}

.select{
    color: aliceblue !important;
    text-align: center;
    font-weight: 700 !important;
    padding-left: 20px;

}

.MuiList-padding {
    padding: 0px !important;
    backdrop-filter: blur(3px) !important;
    background-color: rgba(152, 152, 152, 0.378) !important;
}


.menuItem{
    text-align: center !important;
    background-color: transparent !important;
}


.abc{
    font-weight: 600;
    
}

.abc a{
    background-color: var(--dark-color);
    color: rgb(92, 168, 255);
    
}



.spinner-characters-list{
    margin-top: 150px;
}

.col-pagination-characters-list {
    margin-bottom: 20px;
}

.row-characters-list{
    margin: 0px;
    margin-top: 120px;
    width: 100%;
}

.col-characters-list{
    margin-bottom: 25px;
}

.card-character-list{
    backdrop-filter: blur(0px);
    max-width: 280px;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    filter: drop-shadow(8px 6px 12px rgba(114, 114, 114, 0.779));
}

.card-character-list:hover{
    cursor: pointer;
}

.img-characters-list{
    opacity: 0.97;
    width: 100%;
    position: relative;
    border-bottom-right-radius: 20px;
}

.name-characters-list{
    position: absolute;
    bottom: 0px;
    background-color: var(--main-color);
    width: 100%;
    height: 55px;
    border-bottom-right-radius: 15px;
    backdrop-filter: blur(1.4px);
    text-transform: uppercase; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.name-characters-list h3 {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 2.6px 2.6px 2.6px rgba(175, 17, 17, 0.906);
    margin: 5px auto;
}









.col-character-list{
    background-color: hsla(212, 94%, 51%, 0.696); 
    max-width: 70vw;
    position: fixed;
    top: 130px;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 10px;
    
    
}

.btn-close-character{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    background-color: black;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}



.character-name{
    margin-top: 15px;
    font-size: 25px;
    filter: drop-shadow(2px 6px 1px rgb(43, 43, 43));
    text-align: center;
}

.character-description{
    max-width: 100%;
    color: antiquewhite;
    font-size: 18px;
    font-family: 'Roboto';
    text-align: center;
    filter: drop-shadow(2px 6px 1px rgb(47, 46, 46));
    margin-bottom: 5px;

}


.img-character-list-div{
    max-width: 370px;
    border-radius: 10px;
    max-height: 370px;
    overflow: hidden;
    padding: 20px;
}

.img-character{
    max-width: 100%;
    border-radius: 10px;
    filter: drop-shadow(8px 10px 10px rgba(33, 33, 33, 0.974));
}



.comics-character-list{
    max-height: 280px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    background-color: hsla(212, 94%, 51%, 0.300); 
    backdrop-filter: blur(1px);
    text-align: center;
    font-size: 14px;
    filter: drop-shadow(2px 6px 1px rgb(47, 46, 46));
}

.comics-character-list-div {
    max-width: 120px ;
    margin: 0px 15px;
    filter: drop-shadow(8px 6px 12px rgba(33, 33, 33, 0.934));
}

.img-comic-character{
    max-width: 120px;
}

.comic-title-character-list{
    /* border-bottom-right-radius: 15px;
    backdrop-filter: blur(2px); */
}


.comics-character-list::-webkit-scrollbar {
    height: 6px;
  width: 6px;
  background: rgba(49, 49, 49, 0.839);
  -webkit-border-radius: 1ex;
}

.comics-character-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) ; 
    -webkit-border-radius: 10px ;
    border-radius: 10px ;
}

/* Handle */
.comics-character-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--text-dark-color);
  -webkit-border-radius: 1ex;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.comics-character-list::-webkit-scrollbar-corner {
    background: #fff3;
  }


  .col-character-list::-webkit-scrollbar{
    height: 6px;
width: 6px;
background: rgba(49, 49, 49, 0.839);
-webkit-border-radius: 1ex;
}

.col-character-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) ; 
    -webkit-border-radius: 10px ;
    border-radius: 10px ;
}

/* Handle */
.col-character-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--text-dark-color);
  -webkit-border-radius: 1ex;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.col-character-list::-webkit-scrollbar-corner {
    background: #fff3;
  }

@media only screen and (max-width: 576px) {
    .col-character-list{
        
        
        max-width: 380px;
        max-height: 620px;
    }

    .col-character-list::-webkit-scrollbar{
        display: none;
    }

    .btn-close-character{
        
        border-top-right-radius: 15px;
        
    }

    .comics-character-list::-webkit-scrollbar{
        display: none;
    }

    


    .row-characters-list{
        margin-top: 65px !important;
    }

    .img-character-list-div{
        
       
    }

    

    .character-name{
        
        font-size: 20px;
    }
}





@media only screen and (max-width: 830px) {
    .row-name-description-character-list{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .col-name-description-character-list{
        width: 100%;
        text-align: center;
    }
    

    .img-character-list-div{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .character-name{
        /* font-size: 20px; */
        margin-top: 0;
    }

    .col-character-list{
        overflow-y: scroll;
        overflow-x: hidden;
        top: 60px;
    }

    .btn-close-character{
        top: 2px;
        right: 2px;
        
    }
    

}



