.comics-container{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start end;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(144deg, rgba(197, 10, 221, 0.618) 0%, rgba(136, 11, 152, 0.424) 32%, rgba(54, 1, 65, 0.564) 98%);
    padding: 0;
    overflow: hidden;
    
}


    

.col-comics-div-mainpage{
    
    backdrop-filter:   contrast(300%) ; 
}


