.mainPage-container{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start end;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(144deg, rgba(223, 10, 10, 0.252) 0%, rgba(118, 7, 7, 0.2) 50%, rgba(213, 10, 10, 0.25) 98%);
    padding: 0;
}


.marvel-mainpage-col{
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.marvel-mainpage {
    display: flex;
    justify-content: center;
}
.arrow-down{
    position: absolute;
    bottom: 30px;
    color: brown;
}

@media only screen and (max-width: 576px) {
    .marvel-mainpage {
        scale: 0.6;
        margin-bottom: 30px;
    }
}