:root {
    --main-color: hsla(212, 94%, 51%, 0.900);
    --main-dark-color: #4629298b;
    --secondary-color: #ed0c08;
    --third-color: #8F46D6;
    --dark-color: rgb(36, 36, 36);
    --text-main-color: rgb(246, 192, 91);
    --text-dark-color: rgb(246, 192, 91);
    background-color: black;
    font-family: 'Roboto';
    
  }

  html {
    scroll-snap-type: y mandatory;
    scroll-behavior:smooth;
  }

.App{
  background-color: black;
  color: var(--text-dark-color);
}

html::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

html::-webkit-scrollbar-thumb {
  background: red;
  -webkit-border-radius: 1ex;
}

